@import 'variables';

.dashboard-wrapper {
  padding: 30px 30px 0 30px;

  .view-buttons {
    padding: 2px 0;
  }

  .btn-outline-primary {
    color: $main-color;
    border-color: $main-color;

    &.active, &:hover {
      color: $white;
      background-color: $main-color;
    }
  }

  .dashboard-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

    .dashboard-actions app-button:first-child {
      margin-right: 10px;
    }

    .header-title {
      font-family: $font-roboto-bold;
      font-size: 21px;
    }

    .facilities {
      display: flex;
      align-items: center;
    }

    .facilities-title {
      display: inline-block;
      width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }

    button {
      border: none;
      background-color: transparent;
      transition: .2s;
      outline: none;

      &:hover {
        background-color: $white;
      }

      svg-icon {
        display: flex;
        align-items: center;
        padding: 3px 0;
      }

      .arrow-left svg {
        transform: rotate(180deg);
      }
    }
  }

  .dashboard-panel {
    font-family: $font-roboto-medium;
    font-size: 16px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  .right-dashboard, .left-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .export-box {
      padding: 8px 0;
      white-space: nowrap;
    }

    .facility-select {
      margin-right: 20px;

      label {
        margin-bottom: 0;
      }

      select {
        height: 42px;
      }
    }

    .date-picker {
      width: 240px;
    }
  }

  .vertical {
    margin: 0 15px;
    height: 42px;
    width: 0px;
    border-right: 1px solid $input-border-color-regular;
  }
}

@media (max-width: 1485px) {

  .dashboard-wrapper {

    select {
      font-size: 14px;
      max-width: 150px;
      padding: 5px;
    }

    input {
      font-size: 14px;
    }

    .vertical {
      margin: 0 8px;
    }
  }
}
