<div class="dashboard-wrapper">
  <div class="dashboard-header">
    <div class="header-title">Staff Rosters</div>
    <div class="dashboard-actions">
      <app-button btnStyle="primary"
                  btnIcon="add-icon-white"
                  (click)="addNewRoster()">
        Add New Roster</app-button>
      <app-button btnStyle="primary"
                  btnIcon="add-icon-white"
                  (click)="addNewStaffMember()"
                  *appHasPermissions="'User:create'">Add New Staff Member</app-button>
    </div>
  </div>
  <div class="dashboard-panel">
    <div class="left-dashboard">
      <div class="view-buttons btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary"
               [class.active]="view === 'users'"
               (click)="setView('users')">
          Staff
        </label>
        <label class="btn btn-outline-primary"
               [class.active]="view === 'shifts'"
               (click)="setView('shifts')">
          Shifts
        </label>
      </div>
      <div class="vertical"></div>
      <app-arrows (dateRangeOutput)="updateDateRange($event)"
                  [dateRange]="dateRange"></app-arrows>
      <div class="vertical"></div>
      <div class="export-box">
        <app-button btnIcon="export-icon"
                    btnStyle="primaryBorderless"
                    [href]="csvLink"
                    class="export-csv">
          Export to CSV
        </app-button>
      </div>
    </div>
    <div class="right-dashboard">
      <div class="facility-select" *ngIf="facilities && facilities.length > 1">
        <select class="form-control"
                [(ngModel)]="facilityId"
                (change)="changeFacility()"
                id="facilityId">
          <option *ngFor="let facility of facilities" [value]="facility.id">
            {{ facility.name }}
          </option>
        </select>
      </div>
      <app-range-date-picker (dateRangeOutput)="receiveDateRange($event)"
                             class="date-picker">
      </app-range-date-picker>
      <div class="vertical"></div>
      <app-search-box placeText="Search by Name"
                      (changed)="filterResidentsByName($event)"></app-search-box>
    </div>
  </div>
  <div class="staff-dashboard">
    <app-schedule [data]="data"
                  [facilities]="facilities"
                  [departments]="departments"
                  [view]="view"
                  [facility]="facility"
                  (detectChanges)="refreshDashboardData()">
    </app-schedule>
  </div>
</div>
